
:root{
    --gray: rgb(152, 152, 177);
    --navy: rgb(11, 11, 61);
}
body {
    background-color: var(--gray);
}
header h1 {
    display: inline;
    color: var(--navy);
    padding-left: 30px;
    margin: revert;
    color: var(--navy);
}
header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    display: block;
    height: 101px;

}
header a{
    text-decoration: none;
}
header nav{
    margin: 0;;
    text-align: center;
}
header nav ul li{
    display: inline;
}
header nav ul li a{
    margin: 0px 118px 0px 140px;
    color: var(--navy);
    font-size: 20px;
    color: var(--navy);
    font-weight: bolder;
}
.me{
    flex-wrap: nowrap;
    height: 124px;
    float: left;
    clip-path: circle();
    display: inline;


}
.hero{
    width: 90%;
    margin-top: 30px;
    margin-left: 61px;
    height: 100px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtAfUT-3mf8lr7Vehfx3PKMWmCeUPeYs9ZcA&usqp=CAU");
    color: silver;
    text-align: center;
    padding-top: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-me{
    color: var(--navy);
}
.font{
    font-size: 35px;
    color: var(--navy);
}
section li{
    display: inline;
    margin: 0 100px;
    text-decoration: underline;
    justify-content: center;
}
footer{
    width: 100%;
    background-color: var(--navy);
    color: var(--gray);
}
.my-portfilo{
    text-align: center;
}
.contact-me{
    text-align: left;
}